@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* https://github.com/tailwindlabs/tailwindcss/discussions/11432 */
  progress {
    border: revert;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1e3a8a rgba(0, 0, 0, 0);
}
